/* Blur account email */
.userInfoViewing-1jbzEW .flexChild-1KGW5q > div:nth-child(2) .viewBody-14sCmR.selectable-prgIYK {
    filter: blur(5px);
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

.userInfoViewing-1jbzEW .flexChild-1KGW5q > div:nth-child(2) .viewBody-14sCmR.selectable-prgIYK:hover {
    filter: none;
    transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/*Nitro Tag*/
.avatar-large[style*="/a_"]+.comment .username-wrapper .user-name:before {
    content: "|";
    margin-right:3px;
    position: relative;
    display: inline-block;
    font-family: BMTicons;
    transform: translate(0,3px);
}
.avatar-small[style*="/a_"]+.member-inner .member-username .member-username-inner:before {
    content: "|";
    margin-right:3px;
    position: relative;
    display: inline-block;
    font-family: BMTicons;
    transform: translate(0,3px);
}

/* Hide blocked people's messages */
div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}

