/* =========================================== */
/* ============== SPECIAL LABELS ============= */
/* =========================================== */

/* base */
.avatar-large+.comment .timestamp::before {
    content: none;
    text-transform: uppercase;
    border: 1px solid #9866ff;
    border-radius: 2px;
    font-weight: 400;
    margin: 0;
    color: #fefefe;
    font-size: 10px;
    outline: none;
    margin-right: 7px;
    padding: 2px 6px;
    padding-bottom: 3px;
    line-height: 16px;
    top: -2px;
    position: relative;
}

/* Beta Tester */
.avatar-large[style*="269929826075410432"]+.comment .timestamp::before,
.avatar-large[style*="284122164582416385"]+.comment .timestamp::before,
.avatar-large[style*="71575679543549952"]+.comment .timestamp::before,
.avatar-large[style*="173449041181409281"]+.comment .timestamp::before,
.avatar-large[style*="258591131758100481"]+.comment .timestamp::before,
.avatar-large[style*="111476801762537472"]+.comment .timestamp::before,
.avatar-large[style*="96269247411400704"]+.comment .timestamp::before,
.avatar-large[style*="90076279646212096"]+.comment .timestamp::before,
.avatar-large[style*="112008049975099392"]+.comment .timestamp::before,
.avatar-large[style*="111894694652280832"]+.comment .timestamp::before,
.avatar-large[style*="212749887803097088"]+.comment .timestamp::before,
.avatar-large[style*="250322741406859265"]+.comment .timestamp::before,
.avatar-large[style*="318401651029442560"]+.comment .timestamp::before,
.avatar-large[style*="98270968945864704"]+.comment .timestamp::before,
.avatar-large[style*="98829797735559168"]+.comment .timestamp::before,
.avatar-large[style*="274950159195176963"]+.comment .timestamp::before {
    content: 'Beta Tester';
    border-color: #ffa066;
    background: #e56b2e;
    box-shadow: 0 0 5px 1px #5C482E, inset 0 0 10px rgba(92, 68, 46, 0.7);
}

/* Donor */
.avatar-large[style*="167335587488071682"]+.comment .timestamp::before,
.avatar-large[style*="98270968945864704"]+.comment .timestamp::before,
.avatar-large[style*="119321587026493441"]+.comment .timestamp::before,
.avatar-large[style*="145799943980843008"]+.comment .timestamp::before,
.avatar-large[style*="157887056608100352"]+.comment .timestamp::before,
.avatar-large[style*="71575679543549952"]+.comment .timestamp::before,
.avatar-large[style*="219078125974192128"]+.comment .timestamp::before,
.avatar-large[style*="178214422890676224"]+.comment .timestamp::before,
.avatar-large[style*="211403732158513152"]+.comment .timestamp::before,
.avatar-large[style*="173449041181409281"]+.comment .timestamp::before {
    content: 'Donor';
    border-color: #FF6666;
    background: #e52e2e;
    box-shadow: 0 0 5px 1px #5c2e2e, inset 0 0 10px rgba(92, 46, 46, 0.7);
}

/* Turbo User */
.avatar-large[style*="98270968945864704"]+.comment .timestamp::before,
.avatar-large[style*="145799943980843008"]+.comment .timestamp::before,
.avatar-large[style*="211403732158513152"]+.comment .timestamp::before,
.avatar-large[style*="219078125974192128"]+.comment .timestamp::before {
    content: 'Turbo User';
    border-color: #9866ff;
    background: #5f29cc;
    box-shadow: 0 0 5px 1px #392e5c, inset 0 0 10px rgba(57, 46, 92, 0.7);
 }

 /* Turbo User v2 Custom Labels */
 .avatar-large[style*="98270968945864704"]+.comment .timestamp::before {
    content: 'Eidolon Primary';
    border-color: #b339b2;
    background: #aa09a7;
    box-shadow: 0 0 5px 1px #5e055d, inset 0 0 10px rgba(94,5,93, 0.7);
 }

/* Plugin Developer */
.avatar-large[style*="284122164582416385"]+.comment .timestamp::before,
.avatar-large[style*="95567914089844736"]+.comment .timestamp::before,
.avatar-large[style*="137236165899059200"]+.comment .timestamp::before {
    content: 'Developer';
    border-color: #3498db;
    background: #22638f;
    box-shadow: 0 0 5px 1px #3a3e41, inset 0 0 10px rgba(63,59,66, 0.7);
    /*border-color: #d8d8d8;
    background: #9e9e9e;
    box-shadow: 0 0 5px 1px #3a3a3a, inset 0 0 10px rgba(58,58,58, 0.7);*/
}

/* Staff special labels */
.avatar-large[style*="97549189629636608"]+.comment .timestamp::before {
    content: 'Twitchcord Creator';
    border-color: #ff6395;
    background: #b82553;
    box-shadow: 0 0 5px 1px #9e1842, inset 0 0 10px rgba(158,24,66, 0.7);
}
